body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tableFixHead {
    overflow-y: auto;
    height: 600px;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0px;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

th {
    background: grey;
}

html, body {
    height: 100%;
}

.detail-grid-container {
    width: 90%;
    margin: 50px 0px 0px 0px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 200px, 200px;
    padding: 5px;
    vertical-align: middle;
    font-size: 18px;
}

.detail-grid-container img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 15px;
}

.detail-grid-container p {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 5px;
    vertical-align: middle;
}
